@import "../variables";

.footer {
  background-color: $gray-dark;
  &_content {
    margin: 0 auto;
    height: 96px;
    max-width: $wrapper;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    color: $white;
    line-height: 1.33;
  }

  &_favorites {
    font-size: 18px;
  }

  &_phone {
    font-size: 24px;
  }
}
